.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: #080808;
    background-color: #a4b6c2;
    border-radius: 6px;
    border: 2px solid #f71c1c;
  }
  .boton:hover{
    color: #1883ba;
    background-color: #4e4e4e;
  }